# Specify filepatterns you want git to ignore.
subroutines/call_paths.m
*.bin
*.cod
*.asv

Dynare_4-4-3/modFiles/+shock_eab_gy1/*
Dynare_4-4-3/modFiles/+steady1/*
Dynare_4-4-3/modFiles/+steady2/*
Fiscal_ext/modFiles/+shock_eab_gy1/*
Fiscal_ext/modFiles/+steady1_EAGLE_Fiscal/*
Fiscal_ext/modFiles/+steady2/*